#!/sbin/openrc-run
{{ ansible_managed | comment(decoration="# ") }}

supervisor=supervise-daemon

name="Prometheus node_exporter"
description="Prometheus exporter for hardware and OS metrics exposed by *NIX kernels, written in Go with pluggable metric collectors."

command="{{ node_exporter_bin_path }}"
command_args="--web.listen-address={{ node_exporter_host }}:{{ node_exporter_port }} {{ node_exporter_options }}"
command_user="node_exporter"

depend() {
    need net localmount
    after firewall
}
